.table {
    display: grid;
    /* grid-template-columns: repeat(4, max-content); */
    justify-content: center;
    text-align: start;
}

.container {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cell {
    padding: 7px;
    display: flex;
    align-items: center;
}

.center {
    justify-content: center;
}

sup {
    font-weight: bold;
}

.wrap-2-col {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
}

.red {
    background-color: #2e2e2e;
}

.green {
    background-color: #383838;
}

.blue {
    background-color: #424242;
}

.wide {
    width: 500px;
}

.label,
.wide {
    padding: 2px;
}

/* bits */

input[type='checkbox'] {
    display: none;
}

label {
    width: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f7f7f7;
    background: #222222;
    transition: 0.2s all;
    cursor: pointer;
}

input:checked + span::after {
    content: '1';
}

input + span::after {
    content: '0';
}
/* /bits */
