html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background-color: #181818;
    color: #f7f7f7;
    font-size: 13pt;
}

* {
    font-family: 'JetBrains Mono', monospace;
}
