input[type='checkbox'] {
    display: none;
}

label {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f7f7f7;
    background: #222222;
    transition: 0.2s all;
    cursor: pointer;
}

input:checked + span::after {
    content: '1';
}

input + span::after {
    content: '0';
}
